<!DOCTYPE html>
<html lang="Es-es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--para q sea flexible--><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--bootstrap--><link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
    <!--icono bootstrap--><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <title>Contacto</title>
</head>
<body>
   
    <div class="container-fluid overflow-hidden">

        <header>
            <div class="row align-items-center">
                <div class="header-logo col-12 col-md-6 col-xl-9">
                <img src="../assets/img/logo.jpg">
            </div>
            <div class="header-buttons col-12 col-md-6 col-xl-3">
              <a href="../views/dashboard.html"><button type="button" class="btn btn-primary">
                <i class="bi bi-person-video2"></i>
                Registrar </button></a>
              
                <a href="../views/dashboard.html">  <button type="button" class="btn btn-outline-primary">
                <i class="bi bi-person-fill"></i>Ingresar</button></a></div>
</div>
</div>
        </header>
      
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:indigo">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="../index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./equipo.html">Equipo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Agenda tu cita</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./servicios.html">Servicios</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="./contacto.html">Contacto</a>
                  </li>
                  </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
              </div>
            </div>
          </nav>

          
<div class="container d-flex flex-md-column ">
  <div class="row">
                <div class="mb-5 mt-2 col-12 col-md-4 ">
                  <h3 class="nombre-doctor m-3">¿Cómo encontrarnos?</h3>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3977.0569102255595!2d-74.1058766852381!3d4.5838059966698435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f98de8b2cdf01%3A0xcb94d4852598b934!2sKuepa%20-%20Restrepo!5e0!3m2!1ses-419!2sco!4v1646397906216!5m2!1ses-419!2sco"  
                        class="mapa img-fluid rounded-start border border-primary  float-start;" alt="..."> 
                      </iframe> 
                 
                 </div>
                
                <div class="card mb-5 mt-2 col-12 col-md-4 
                justify-content-center">
                  
                  <h5 class="h5 text-start">Dirección:</h5>
                  <p class=" fw-bold text-start">Sede prinicipal</p> 
                  <p class="text-start">Calle 22 #18-67</p>
                  <br>
                  <h5 class="h5 text-start">Dirección:</h5>
                  <p class=" fw-bold text-start">Sede administrativa</p> 
                  <p class="text-start">Calle 22 #18-67</p>
        <br>
                  <h5 class="h5 text-start">Teléfono:</h5> 
                  <p class="text-start">+60 1 307 76 76</p>
                  <br>
                  <h5 class="h5 text-start">Email:</h5> 
                  <p class="text-start">contacto@kuepa.edu.co</p>
                             
           </div>
          
        <div class=" formulario card mb-5 mt-2 col-12 col-md-4 py-2 my-4
        justify-content-center">
        <section class="">
           <div class=" mb-3 ">
            <h3 class=" nombre-doctor ">Escríbenos</h3>
                <label for="exampleInputPassword1" class="form-label text-start">Nombre y apellido:</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label text-start">Correo electrónico:</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                 <label for="floatingTextarea2" class="m-3 text-start">Comentarios:</label>  
              <div class="form-floating">
                <textarea class="form-control" placeholder="deja tu comentario" id="floatingTextarea2" style="height: 100px"></textarea>
               </div>
              </div>
              <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
          </div>
</section>
          
            </div> 
          </div>  
  </div>           
    </div>
    </div>
    </div>  
     </div> 
        </div>

</div>
</div>




<footer>
    <article class="footfondo">
        <div class="row">
    <div class="foot text-center mb-5 mt-2 col-12 col-md-4">
        
            <img src="../assets/img/bx-building 1.svg" alt="icono edificio">
                <h3>Sedes</h3>
                <p class="sedes">Sede Kennedy</p>
                <p class="sedes">Sede Suba</p>
                <p class="sedes">Sede Fontibón</p>
                <p class="sedes">Sede Centro</p>
                
            
    </div>
            <div class="foot text-center mb-5 mt-2 col-12 col-md-4">
                <img src="../assets/img/bx-building 1.svg" alt="icono edificio">
                        <h3>Sedes</h3>
                        <p class="sedes">Sede Kennedy</p>
                <p class="sedes">Sede Suba</p>
                <p class="sedes">Sede Fontibón</p>
                <p class="sedes">Sede Centro</p>
                    </div>
                    <div class="foot text-center mb-5 mt-2 col-12 col-md-4">
                        <img src="../assets/img/bx-building 1.svg" alt="icono edificio">
                                <h3>Sedes</h3>
                                <p class="sedes">Sede Kennedy</p>
                <p class="sedes">Sede Suba</p>
                <p class="sedes">Sede Fontibón</p>
                <p class="sedes">Sede Centro</p>
                                
                    </div>
                      

   </article></div> 
</footer>    

</section>

</div>
    <script src="../assets/js/bootstrap.js"></script>
</body>
</html>