<!DOCTYPE html>
<html lang="Es-es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--para q sea flexible-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--bootstrap-->
  <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
  <!--icono bootstrap-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

  <!--Icons fontawsome-->
  <script src="https://kit.fontawesome.com/78c9eea544.js" crossorigin="anonymous"></script>

  <title>Equipo</title>
</head>

<body>

  <div class="container-fluid">
    <header>

      <article>
        <div class="header-logo align-items-center">
          <div class=" col-12 col-md-6 col-xl-9 ">
            <a href="../../index.html">
              <img src="../assets/img/logo.jpg">
            </a>
          </div>
        </div>
      </article>
      <div class="header-buttons col-5 col-md-4 col-xl-2">
        <a href="../views/contacto.html">
          <button type="button" class="btn btn-primary">
            <i class="bi bi-person-video2 "></i>
            Contacto
          </button>
        </a>

        <!--<a href="../views/contacto.html">
                <button type="button" class="btn btn-outline-primary">
                  <i class="bi bi-person-fill  "></i>Ingresar
                </button>
              </a>-->
      </div>

    </header>
  </div>



  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#752995">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="../views/equipo.html">Equipo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/agenda.html">Agenda tu cita</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/servicios.html">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/contacto.html">Contacto</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control" type="search" placeholder="..." aria-label="Search">
          <button class="btn btn-primary ms-2" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>


  <div class="">
    <img src="../assets/img/servicios2.png" class="d-block w-100" alt="Imagen referente a los profesionales">
  </div>

  <h2 class="title-section text-center mb-2 mt-3">Nuestro Equipo</h2>
  <div class="row container-fluid col-12 col-md 3 justify-content-center">
    <div class="mx-5 my-3 px-2 col text-center justify-content-center">
      <img class="rounded-circle w-75" src="../assets/img/medico1.jpg">
      <h4 class="nombre-doctor mt-3">Mario Pérez</h4>
      <p class=" fw-bold"> Vet. general y Técnico Especialista en Aves</p>
      <p>Dedicado a garantizar que nuestras amigas emplumadas reciban la atención especializada. Con un profundo amor
        por las aves y una amplia experiencia en su cuidado, brindando asesoria sobre todas las necesidades únicas de
        tus aves. Desde loros hasta canarios, tu ave estará en las mejores manos.</p>
    </div>
    <div class="mx-5 my-3 px-2 col text-center justify-content-center">
      <img class="rounded-circle w-75" src="../assets/img/medico2.jpg">
      <h4 class="nombre-doctor mt-3">Alina Gomez</h4>
      <p class=" fw-bold">Vet. Especialista en Comportamiento</p>
      <p>Un apasionado amante de los animales con un compromiso inquebrantable con la salud y el bienestar de tus
        mascotas.
        Nuestro veterinario está listo para brindar atención médica completa y compasiva para asegurarse de que tus
        amigos
        peludos vivan vidas saludables y felices.</p>
    </div>
    <div class="mx-5 my-3 px-2 col text-center justify-content-center">
      <img class="rounded-circle w-75" src="../assets/img/medico3.jpg">
      <h4 class="nombre-doctor mt-3">Roberto Gil</h4>
      <p class=" fw-bold">Vet. general y Técnico Especialista en Cirugía</p>
      <p>Dedicado a realizar procedimientos quirúrgicos seguros y efectivos para tus mascotas. Con años de experiencia,
        nuestro especialista trabaja en estrecha colaboración con nuestro equipo veterinario para garantizar que tus
        amigos peludos reciban la mejor atención en cada paso de su recuperación.</p>
    </div>
    <div class="mx-5 my-3 px-2 col text-center justify-content-center">
      <img class="rounded-circle w-75" src="../assets/img/medico4.jpg">
      <h4 class="nombre-doctor mt-3">Nicole Ochoa</h4>
      <p class=" fw-bold">Técnico de Laboratorio Veterinario Clínico</p>
      <p>Técnica de confianza que se preocupa tanto por tus mascotas como tú. Nuestro equipo está aquí para brindar
        atención médica integral y apoyo compasivo para todas las etapas de la vida de tus peludos. Desde exámenes de
        salud de rutina hasta exámenes especializados.</p>
    </div>
  </div>
  </div>
  </header>

  <footer>
    <article class="footfondo">
      <div class="row text-center ">
        <!--<h2 class="title-section text-center mt-3">Contacto</h2>-->
        <div class="foot mb-1 mt-4 col-12 col-md-12 col-xl-12">

          <p class="contact">animalandiapets@gmail.com</p>
          <p class="contact">3192886654</p>
          <p class="contact">Fontibón, Bogotá</p>
          <p class="contact">Calle 106 no. 20-40</p>
        </div>

        <div class="col-12 col-md-12 col-xl-12 mb-4 mt-1">
          <div class="media-links">
            <article><i class="fa-brands fa-instagram"></i></article>
            <article><i class="fa-brands fa-tiktok"></i></article>
            <article><i class="fa-brands fa-youtube"></i></article>
            <article><i class="fa-regular fa-envelope"></i></article>
          </div>
        </div>
      </div>

    </article>
  </footer>



  <script src="../assets/js/bootstrap.js"></script>
</body>

</html>