<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--para q sea flexible-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--bootstrap-->
  <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
  <!--icono bootstrap-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

  <title>Log in</title>
</head>

<body>

  <div class="container-fluid overflow-hidden align-self-center d-flex flex-md-row">

    <div class="col-1 col-md-4 row justify-content-center">



    </div>
    <div class="col-10 col-md-4 m-3 p-3">


      <div class="header-logo header-logo-login row justify-content-center align-items-center text-center">
        <img class="img-fluid" src="../assets/img/logo.jpg" alt="Imagen del logo">
        <section class="container-gris rounded-bottom mb-3">
          <form>

            <div class="column align-items-center text-center">
              <div class="contenedor-icono">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                  class="bi bi-person-fill" viewBox="0 0 16 16">
                  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg>

                <div class="header-logo text-start">
                  <label for="exampleInputPassword1" class="form-label">Usuario</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
          </form>

          <div class="mb-3">
            <div class="row align-items-center">
              <div class="header-logo ">
                <label for="exampleInputEmail1" class="form-label">Contraseña</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

              </div>
            </div>
          </div>

          <div class="acciones-login">
            <button type="submit"
              class="btn btn-primary btn-login btn-login3 align-items-center align-middle text-center">Ingresar</button>
            <button type="button" class="btn btn-primary btn-login btn-login2 align-items-center text-center"><i
                class="bi bi-person-video2"></i>Registrar</button>

            <div class="mb-3 form-check">

              <input type="checkbox" class="form-check-input checkbox-login align-self-center justify-content-center"
                id="exampleCheck1">
              <label class="form-check-label align-self-center justify-content-center" for="exampleCheck1">Recordar
                contraseña</label>

            </div>
          </div>
      </div>
    </div>
  </div>

  </div>
  </div>
  </section>
  <div class="col-1 col-md-4">

  </div>

  </div>
  </div>
  </div>
  </div>

  </div>
  </div>
  </div>
  </div>

  </div>
  </div>


  <script src="../assets/js/bootstrap.js"></script>
</body>

</html>