<!DOCTYPE html>
<html lang="Es-es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--para q sea flexible--><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--bootstrap--><link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
    <!--icono bootstrap--><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <title>Servicios</title>
</head>
<body>
    <div class="container-fluid overflow-hidden">

        <header>
            <div class="row align-items-center">
                <div class="header-logo col-12 col-md-6 col-xl-9">
                <img src="../assets/img/logo.jpg">
            </div>

            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:indigo">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#"></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="../index.html">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./equipo.html">Equipo</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Agenda tu cita</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="./servicios.html">Servicios</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./contacto.html">Contacto</a>
                      </li>
                      </ul>
                    <form class="d-flex">
                      <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                      <button class="btn btn-outline-success me-3" type="submit">Buscar</button>
                    </form>
                  </div>
                </div>
              </nav>
  

<img src="../assets/img/banner.jpeg" class="img-fluid" alt="...">
<h1 class="titulo-secciones text-center my-4">Nuestros servicios</h1>


<div class="row align-items-center justify-content-center m-4">
    <div class="mx-5 my-3  col-10 col-md-4  align-items-center my-4">
        <div class="d-flex">
        <img class="img-fluid rounded w-30 ms-0 me-3" src="../assets/img/vacuna.png">
        <div>
        <h3 class="bold text-start">Vacunación de mascotas</h3>
        <p class="text-start">Architecto, omnis harum nisi eos molestiae facere!</p>
   </div></div></div>
    <div class="mx-5 my-3  col-10 col-md-4  align-items-center my-4">
        <div class="d-flex">
        <img class="img-fluid rounded w-30 ms-0 me-3" src="../assets/img/laboratorio.png">
        <div>
        <h3 class="bold text-start">Laboratorio Clínico</h3>
        <p class="text-start">Debitis  ut animi voluptates aut. Architecto eligendi adipisci minima id, omnis harum nisi eos molestiae facere!</p>
    </div></div></div>
    <div class="mx-5 my-3  col-10 col-md-4  align-items-center my-4">
        <div class="d-flex">
        <img class="img-fluid rounded w-30 ms-0 me-3" src="../assets/img/vacuna.png">
        <div>
            <h3 class="bold text-start">Vacunación de mascotas</h3>
        <p class="text-start">Architecto, omnis harum nisi eos molestiae facere!</p>
    </div></div></div>
    <div class="mx-5 my-3  col-10 col-md-4 align-items-center my-4">
        <div class="d-flex">
        <img class="img-fluid rounded w-30 ms-0 me-3" src="../assets/img/laboratorio.png">
        <div>
        <h3 class="bold text-start">Laboratorio Clínico</h3>
        <p class="text-start"> Debitis  ut animi voluptates aut. Architecto eligendi adipisci minima id, omnis harum nisi eos molestiae facere!</p>
   </div> </div></div>
  </div>
</div></div>

        


<footer>
    <article class="footfondo">
        <div class="row">
    <div class="foot text-center  mt-2 col-12 col-md-4">
        
            <img src="../assets/img/bx-building 1.svg" alt="icono edificio">
                <h3>Sedes</h3>
                <p class="sedes">Sede Kennedy</p>
                <p class="sedes">Sede Suba</p>
                <p class="sedes">Sede Fontibón</p>
                <p class="sedes">Sede Centro</p>
                
            
    </div>
            <div class="foot text-center  mt-2 col-12 col-md-4">
                <img src="../assets/img/bx-building 1.svg" alt="icono edificio">
                        <h3>Sedes</h3>
                        <p class="sedes">Sede Kennedy</p>
                <p class="sedes">Sede Suba</p>
                <p class="sedes">Sede Fontibón</p>
                <p class="sedes">Sede Centro</p>
                    </div>
                    <div class="foot text-center mb-2  col-12 col-md-4">
                        <img src="../assets/img/bx-building 1.svg" alt="icono edificio">
                                <h3>Sedes</h3>
                                <p class="sedes">Sede Kennedy</p>
                <p class="sedes">Sede Suba</p>
                <p class="sedes">Sede Fontibón</p>
                <p class="sedes">Sede Centro</p>
                                
                    </div>
                </div>       

   </article>
</footer>   


</div>
    <script src="../assets/js/bootstrap.js"></script>
</body>
</html>