<!DOCTYPE html>
<html lang="Es-es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--para q sea flexible-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--bootstrap-->
  <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
  <!--icono bootstrap-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

  <!--Icons fontawsome-->
  <script src="https://kit.fontawesome.com/78c9eea544.js" crossorigin="anonymous"></script>

  <title>Servicios</title>
</head>

<body>

  <div class="container-fluid">
    <header>

      <article>
        <div class="header-logo align-items-center">
          <div class=" col-12 col-md-6 col-xl-9 ">
            <a href="../index.html">
              <img src="../assets/img/logo.jpg">
            </a>
          </div>
        </div>
      </article>
      <div class="header-buttons col-5 col-md-4 col-xl-2">
        <a href="../views/contacto.html">
          <button type="button" class="btn btn-primary">
            <i class="bi bi-person-video2 "></i>
            Contacto
          </button>
        </a>

        <!--<a href="../views/contacto.html">
                <button type="button" class="btn btn-outline-primary">
                  <i class="bi bi-person-fill  "></i>Ingresar
                </button>
              </a>-->
      </div>

    </header>
  </div>



  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#752995">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="../../index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/equipo.html">Equipo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/agenda.html">Agenda tu cita</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="../views/servicios.html">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/contacto.html">Contacto</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control" type="search" placeholder="..." aria-label="Search">
          <button class="btn btn-primary ms-2" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>


  <img src="../assets/img/banner.jpeg" class="img-fluid d-block w-100 m-0 p-0"
    alt="Imagen referente a Certificado Médico">

  <h2 class="title-section text-center mb-3 mt-3">Nuestros servicios</h2>


  <div class="services row align-items-center justify-content-center m-4">

    <div class="mx-5 my-3  col-10 col-md-4 align-items-center my-4">
      <div class="d-flex">
        <img class="img-fluid rounded ms-0 me-3" src="../assets/img/veterinario.png">
        <div>
          <h5 class="bold text-start">Consulta médica</h5>
          <p class="text-start">Exámenes de salud regulares, diagnósticos y tratamientos para mascotas.</p>
        </div>
      </div>
    </div>

    <div class="mx-5 my-3  col-10 col-md-4  align-items-center my-4">
      <div class="d-flex">
        <img class="img-fluid rounded ms-0 me-3" src="../assets/img/vacuna.png">
        <div>
          <h5 class="bold text-start">Vacunación de mascotas</h5>
          <p class="text-start">Programa de vacunación adecuado para perros, gatos y otras mascotas.</p>
        </div>
      </div>
    </div>

    <div class="mx-5 my-3  col-10 col-md-4  align-items-center my-4">
      <div class="d-flex">
        <img class="img-fluid rounded ms-0 me-3" src="../assets/img/vacuna.png">
        <div>
          <h5 class="bold text-start">Desparasitación de mascotas</h5>
          <p class="text-start">Métodos efectivos de desparasitación interna y externa.</p>
        </div>
      </div>
    </div>

    <div class="mx-5 my-3  col-10 col-md-4  align-items-center my-4">
      <div class="d-flex">
        <img class="img-fluid rounded ms-0 me-3" src="../assets/img/paciente.png">
        <div>
          <h5 class="bold text-start">Emergencias</h5>
          <p class="text-start">Servicios de emergencia las 24 horas para atender problemas médicos urgentes.</p>
        </div>
      </div>
    </div>


    <div class="mx-5 my-3  col-10 col-md-4  align-items-center my-4">
      <div class="d-flex">
        <img class="img-fluid rounded ms-0 me-3" src="../assets/img/cirugia.png">
        <div>
          <h5 class="bold text-start">Cirugías</h5>
          <p class="text-start">Esterilización/castración, cirugías de tejidos blandos, extracción de dientes, entre
            otras.</p>
        </div>
      </div>
    </div>


    <div class="mx-5 my-3  col-10 col-md-4 align-items-center my-4">
      <div class="d-flex">
        <img class="img-fluid rounded ms-0 me-3" src="../assets/img/rayosx.png">
        <div>
          <h5 class="bold text-start">Exámenes diagnósticos</h5>
          <p class="text-start"> Radiografías, ecografías, análisis de sangre y otros exámenes para un diagnóstico
            preciso.</p>
        </div>
      </div>
    </div>

    <div class="mx-5 my-3  col-10 col-md-4 align-items-center my-4">
      <div class="d-flex">
        <img class="img-fluid rounded ms-0 me-3" src="../assets/img/odontologia.png">
        <div>
          <h5 class="bold text-start">Atención dental</h5>
          <p class="text-start">Limpieza dental, tratamiento de problemas dentales y educación sobre el cuidado dental
            en el hogar.
          </p>
        </div>
      </div>
    </div>

    <div class="mx-5 my-3  col-10 col-md-4 align-items-center my-4">
      <div class="d-flex">
        <img class="img-fluid rounded ms-0 me-3" src="../assets/img/rehabilita.png">
        <div>
          <h5 class="bold text-start">Rehabilitación</h5>
          <p class="text-start">Fisioterapia y terapia de rehabilitación para mascotas con problemas de movilidad.
          </p>
        </div>
      </div>
    </div>

    <div class="mx-5 my-3  col-10 col-md-4 align-items-center my-4">
      <div class="d-flex">
        <img class="img-fluid rounded ms-0 me-3" src="../assets/img/preventiva.png">
        <div>
          <h5 class="bold text-start">Atención preventiva</h5>
          <p class="text-start">Educación sobre la salud y el bienestar de las mascotas, incluyendo consejos de
            nutrición y comportamiento.
        </div>
      </div>
    </div>

    <div class="mx-5 my-3  col-10 col-md-4 align-items-center my-4">
      <div class="d-flex">
        <img class="img-fluid rounded ms-0 me-3" src="../assets/img/paseador.png">
        <div>
          <h5 class="bold text-start">Paseadores y entrenamiento</h5>
          <p class="text-start">Educación sobre la salud y el bienestar de las mascotas, incluyendo consejos de
            nutrición y
            comportamiento.
        </div>
      </div>
    </div>

    <div class="mx-5 my-3  col-10 col-md-4 align-items-center my-4">
      <div class="d-flex">
        <img class="img-fluid rounded ms-0 me-3" src="../assets/img/bano.png">
        <div>
          <h5 class="bold text-start">Baño</h5>
          <p class="text-start">Ofrecemos servicios de baño en agua o en seco para una total limpieza con un olor fresco.
        </div>
      </div>
    </div>

    <div class="mx-5 my-3  col-10 col-md-4 align-items-center my-4">
      <div class="d-flex">
        <img class="img-fluid rounded ms-0 me-3" src="../assets/img/peluqueria.png">
        <div>
          <h5 class="bold text-start">Peluquería</h5>
          <p class="text-start">Nuestros experimentados peluqueros ofrecen alta calidad en cortes caninos, felinos y algunas otras epecies.
            </p>
        </div>
      </div>
    </div>

  </div>

  <h2 class="title-section text-center mb-3 mt-0">Algunos productos</h2>


  <div class="products d-flex row align-items-center justify-content-center my-4">

    <div class="col-12 col-md-2">
      <div class="card">
        <img src="../assets/img/comida.png" class="card-img-top my-2" alt="...">
        <div class="card-body">
          <h5 class="card-title">Alimentos</h5>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-2">
      <div class="card">
        <img src="../assets/img/shampoo.png" class="card-img-top my-2" alt="...">
        <div class="card-body">
          <h5 class="card-title">Para la higiene</h5>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-2">
      <div class="card">
        <img src="../assets/img/collar.png" class="card-img-top my-2" alt="...">
        <div class="card-body">
          <h5 class="card-title">Accesorios</h5>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-2">
      <div class="card">
        <img src="../assets/img/medicamento.png" class="card-img-top my-2" alt="...">
        <div class="card-body">
          <h5 class="card-title">Para la salud</h5>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-2">
      <div class="card">
        <img src="../assets/img/juguete.png" class="card-img-top my-2" alt="...">
        <div class="card-body">
          <h5 class="card-title">Juguetes</h5>
        </div>
      </div>
    </div>

  </div>

  <footer>
    <article class="footfondo">
      <div class="row text-center ">
        <!--<h2 class="title-section text-center mt-3">Contacto</h2>-->
        <div class="foot mb-1 mt-4 col-12 col-md-12 col-xl-12">

          <p class="contact">animalandiapets@gmail.com</p>
          <p class="contact">3192886654</p>
          <p class="contact">Fontibón, Bogotá</p>
          <p class="contact">Calle 106 no. 20-40</p>
        </div>

        <div class="col-12 col-md-12 col-xl-12 mb-4 mt-1">
          <div class="media-links">
            <article><i class="fa-brands fa-instagram"></i></article>
            <article><i class="fa-brands fa-tiktok"></i></article>
            <article><i class="fa-brands fa-youtube"></i></article>
            <article><i class="fa-regular fa-envelope"></i></article>
          </div>
        </div>
      </div>

    </article>
  </footer>

  <script src="../assets/js/bootstrap.js"></script>
</body>

</html>