<!DOCTYPE html>
<html lang="Es-es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--para q sea flexible--><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--bootstrap--><link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
    <!--icono bootstrap--><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <title>Tips</title>
</head>
<body>
    <div class="container-fluid overflow-hidden">

        <header>
            <div class="row align-items-center">
                <div class="header-logo col-12 col-md-6 col-xl-9">
                <img src="../assets/img/logo.jpg">
            </div>

            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:indigo">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#"></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Equipo</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Agenda tu cita</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Servicios</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Contacto</a>
                      </li>
                      </ul>
                    <form class="d-flex">
                      <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                      <button class="btn btn-outline-success me-3" type="submit">Buscar</button>
                    </form>
                  </div>
                </div>
              </nav>
  


<h1 class="titulo-secciones text-center my-4">¡Tips, datos curiosos!</h1>


<div class="row justify-content-center">
    <div class="sec-tips col-10 col-md-4 my-5 mx-5">
          <p class="text-center py-3">Los estudios demuestran que las personas con animales de compañía suelen estar más sanas y felices que aquellas que no los tienen, además, sabemos lo maravilloso que es volver a casa al final de un duro día y escuchar el ronroneo de satisfacción de una adorable bola de pelo; es por ello que no tenemos duda de que los gatos son grandes mascotas, pero también una gran responsabilidad y un compromiso de por vida.</p>
   </div>

    <div class="sec-tips col-10 col-md-4 my-5 mx-5">
        <div class="d-flex">
        <img class=" animal-tips img-fluid rounded my-3 mx-3" src="../assets/img/kingfisher-gaf1c66f2f_640.jpg">
        <div>
        <p class="text-center py-5">El contacto con un perro, con el cual se ha establecido un vínculo afectivo, hace que liberemos oxitocina, la hormona relacionada con el placer.</p>
    </div></div></div>

    <div class="sec-tips col-10 col-md-4 my-5 mx-5">
        <div class="d-flex">
        <img class="animal-tips img-fluid rounded my-3 mx-3" src="../assets/img/cat-g205da81c8_640.jpg">
        <div>
        <p class="text-center py-5">También se reducen los niveles de cortisol en la sangre, indicador fisiológico del estrés y aumentan el nivel de endorfinas, un péptido que funciona como un neurotransmisor y que son las responsables de la sensación de bienestar.</p>
    </div></div> </div>

    <div class="sec-tips col-10 col-md-4 my-5 mx-5">
        <div class="d-flex">
        <img class="animal-tips img-fluid rounded my-3 mx-3" src="../assets/img/bird-g7d4282db0_640.jpg">
        <div>
        <p class="text-center py-5">Más allá de estos visibles beneficios, también el ritmo cardíaco se ve reducido y se fomenta la reducción de la presión arterial.</p>
   </div> </div></div>
  </div>
</div></div>

        


<footer>
    <article class="footfondo">
        <div class="row">
    <div class="foot text-center mb-5 mt-2 col-12 col-md-4">
        
            <img src="../assets/img/bx-building 1.svg" alt="icono edificio">
                <h3>Sedes</h3>
                <p class="sedes">Sede Kennedy</p>
                <p class="sedes">Sede Suba</p>
                <p class="sedes">Sede Fontibón</p>
                <p class="sedes">Sede Centro</p>
                
            
    </div>
            <div class="foot text-center mb-5 mt-2 col-12 col-md-4">
                <img src="../assets/img/bx-building 1.svg" alt="icono edificio">
                        <h3>Sedes</h3>
                        <p class="sedes">Sede Kennedy</p>
                <p class="sedes">Sede Suba</p>
                <p class="sedes">Sede Fontibón</p>
                <p class="sedes">Sede Centro</p>
                    </div>
                    <div class="foot text-center mb-5 mt-2 col-12 col-md-4">
                        <img src="../assets/img/bx-building 1.svg" alt="icono edificio">
                                <h3>Sedes</h3>
                                <p class="sedes">Sede Kennedy</p>
                <p class="sedes">Sede Suba</p>
                <p class="sedes">Sede Fontibón</p>
                <p class="sedes">Sede Centro</p>
                                
                    </div>
                </div>       

   </article>
</footer>   


</div>
    <script src="../assets/js/bootstrap.js"></script>
</body>
</html>