:root {
  --dark-color: #191919;
  --white-color: #ffffff;
  --purple-color: #752995;
  --blue-color: #00b2b1;
  --gray-color: #828282;
  --light-color: #f3f3f3;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

i {
  margin-right: 6px;
}
i:hover {
  cursor: pointer;
}

a{
  cursor: pointer;
}
a:link {
  text-decoration: none;
  color: none;
}

/*------------header--------*/
header {
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid blue;
}

.header-logo img {
  max-width: 230px;
  border: 2px solid yellow;
}

.header-buttons {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-left: 2em;
  border: 2px solid green;
}

.header-buttons i {
  display: none;
}


/*------------botones-----------------*/
.btn-primary {
  color: #fff;
  background-color: var(--blue-color);
  border-color: var(--purple-color);
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--purple-color);
  border-color: var(--purple-color);
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}

.btn-outline-primary {
  color: var(--purple-color);
  border-color: var(--purple-color);
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: var(--purple-color);
  border-color: #6f42c1;
}

.btn-check:focus+.btn-outline-primary,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}

/*-------------------sección agendar-----------------------------*/
.agenda {
  background-image: url(../img/fondo.jpg);
  display: flex;
  flex-direction: column;
}

.agenda-cita {
  padding: 1em;
  margin: 1em;

}

.agenda-cita h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.agenda-cita h3 {
  font-size: 1.2rem;
}

.agenda-promo {
  background-color: var(--purple-color);
  padding: auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.agenda-promo h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 3px 3px 3px var(--dark-color);
}

.agenda-promo img {
  display: none;
}

/*------servicios*/

.title-section {
  color: var(--purple-color);
  font-size: 1.8em;
  font-weight: 700;
}

.card-img-top {
  margin: 0 auto;
  height: 100px;
  width: auto;
}

.card {
  border: 0px;
  text-align: center;
  margin: 0 3em;
}

.card img {
  max-width: 180px;
}

/* footer*/

footer {
  background-image: url(../img/fondo.jpg);
  overflow: hidden;
  color: var(--purple-color);
}

.footfondo {
  background-color: rgba(117, 41, 149, 0.4);
}
.media-links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
}
.contact{
  line-height: 8px;
}

/*
.icon-login {
  width: 30px;
  font-size: 30pt;
  size: 30px;
  font-weight: 30px;
}

.contenedor-icono svg {
  width: 50px;
  height: 50px;
  color: var(--purple-color);
  border: 3px solid var(--gray-color);
  padding: 3px;
  border-radius: 50%;
}
*/

/*log in-------------------------------------------------*/
.header-logo-login img {
  max-width: fit-content;
  width: 86%;
}

.container-gris {
  background-color: rgba(97, 92, 92, 0.2);
  width: 80%;
  height: auto;
}

.container-fluid {
  /* background-color: rgb(196, 119, 119);
 
 en html border border-primary*/
}

.container-login {
  /* border: 2px solid rgb(17, 233, 17);*/
}

.contenedor-icono {
  margin: 50px 0;
}

.acciones-login {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  margin: 20px 0;
}

.btn-login,
.checkbox-login {
  margin: 10px 0;
  color: var(--dark-color);
  font-weight: bold;
}

.btn-login2 {
  background-color: var(--purple-color);
}

.header-logo-login {
  width: 100%;
}

.btn-login3:hover {
  color: var(--dark-color);
  background-color: var(--light-color);
  border-color: var(--blue-color);
}

/*Equipo-------------------------------------------------*/
.titulo-secciones {
  color: var(--purple-color);
  text-shadow: 1px 1px 1px var(--dark-color);

}

.nombre-doctor {
  color: var(--purple-color);
}

/*Contacto-------------------------------------------------*/
.mapa {
  width: 500px;
  height: 500px;
}

.formulario {
  border: 2px solid var(--purple-color);
  background-color: rgba(117, 41, 149, 0.4);
}

/*-------------------------Tips----------------------*/
.animal-tips {
  width: 40%;
}

.sec-tips {
  background-color: rgba(117, 41, 149, 0.4);
  border: 2px solid var(--purple-color);
  border-radius: 7px;
}

/*-------------------------Dashboard----------------------*/
.dash-imguser {
  width: 60px;
  border: 2px solid var(--purple-color);
  margin: 0 10px;
}

.dash-userwelcome {
  color: var(--purple-color);
}




/*----------media queries-----------*/

@media screen and (min-width: 600px) {
  header {
    justify-content: space-between;
  }

  .agenda {
    flex-direction: row;
  }

  .agenda-cita {
    margin: 2em 2em 0 2em;

  }

  .agenda-promo {
  border: 3px solid red;
  padding: 1em auto;
  }

  .agenda-promo img {
    display: block;
    border-width: 10px solid var(--white-color);
  }

  .header-buttons {
    padding-left: 0;
    flex-direction: row;
    /*border: 2px solid green;*/
  }

  .header-buttons button {
    display: flex;
    align-items: center;
  }

  .header-buttons i {
    display: flex;
  }
  .foot {
    display: flex;
    flex-direction: row;
    gap: 3em;
    justify-content: center;
  }
  .contact{
    display: block;
  }
}

@media only screen and (min-width: 768px){

}